    /* Horizontal iScroll
    ----------------------------------------------------------------------------------------------------*/

    #horizontalWrapper {
        margin: 10px;
        padding: 10px;
        margin: 0;
        padding: 0;
        border: none;
    }

    #horizontalScroller {
        float: left;                        /* la div prend la largeur de son contenu et on peut donc interroger cette largeur */
        padding: 0;
    }

    /*#horizontalScroller ul {
        list-style:none;
        display:block;
        float:left;
        width:100%;
        height:100%;
        padding:0;
        margin:0;
        text-align:left;
    }

    #horizontalScroller li {
        display:block;
        float:left;
        padding:0 10px;
    }*/

